---
import Layout from "../layouts/Layout.astro";
import Header from "../components/organisms/Header.astro";
import Hero from "../components/organisms/Hero.astro";
import RecentCases from "../components/organisms/RecentCases.astro";
import Donations from "../components/organisms/Donations.astro";
---

<Layout title="Guatapets | Mascotas en Guatapé">
	<Header />
	<main>
		<Hero />
		<!-- Placeholder for future sections -->
		<RecentCases />
		<Donations />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
